
<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= class_name.constantize.model_name.human %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%%= link_to "<%= I18n.t("custom_template.dashboard") %>", root_path %></div>
      <div class="breadcrumb-item">
      <%%= link_to '<%= class_name.constantize.model_name.human %><%= I18n.t("custom_template.list") %>', <%= plural_table_name %>_path %>
      </div>
      <div class="breadcrumb-item"><%= I18n.t('custom_template.actions.new', resource: class_name.constantize.model_name.human) %></div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4><%= I18n.t('custom_template.actions.new', resource: class_name.constantize.model_name.human) %></h4>
      </div>
      <div class="card-body">
        <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
      </div>
    </div>
  </div>
</section>

<%%= link_to icon('fas fa-arrow-left', '<%= I18n.t("custom_template.buttons.back") %>'), 'javascript:history.back()', class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<%% content_for(:page_title, '<%= I18n.t('custom_template.actions.new', resource: class_name.constantize.model_name.human) %>') %>
